body {
    position: relative;
    min-height: 100vh;
}

.grecaptcha-badge {
    visibility: hidden !important
}


html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}