#header {
    position: absolute;
    width: 100%;
    z-index: 99;
    #logo {
        max-width: 150px
    }
    #header-login-outer {
        position: absolute;
        color: white;
        #header-login {
            position: absolute;
            right: 100px;
            top: 33px;
        }
    }
}