#header {
    position: absolute;
    width: 100%;
    z-index: 99;
    #logo {
        max-width: 150px
    }
    #header-login-outer {
        position: absolute;
        color: white;
        #header-login {
            position: absolute;
            right: 100px;
            top: 33px;
        }
    }
    .elementor-column {
        position: absolute;
        &:first-of-type {
            
        }
        &:last-of-type {
            right: 0;
        }
    }
}

@media only screen and (max-width: 767px) {
    #header {
        #header-login-outer {
            #header-login {
                right: 70px;
                top: 21px;
            }
        }
    }
  }