.single-students {
    background: #f4eee8;
    .author-cover-photo {
        width: 100%;
        height: 400px;
        position: relative;
        overflow: hidden;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#162636+0,cb9c51+100 */
    background: #162636; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #162636 0%, #cb9c51 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #162636 0%,#cb9c51 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #162636 0%,#cb9c51 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#162636', endColorstr='#cb9c51',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
        img {
            width: 100%;
            height: auto;
            filter: blur(15px);
            opacity: 0.15;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }

    .author-details {
        position: relative;
        h2 {
            position: absolute;
            left: 50%;
            transform: translate(-50% , -200px);
            color: white;
            font-size: 30px;
            .name {
                display: inline-block;
            }
            .level {
                display: inline-block;
                font-size: 18px;
                margin-left: 10px;
            }
            .achiev-count {
                font-size: 18px;
                padding-top: 15px;
            }
            #edit-profile {
                a {
                    font-size: 12px;
                    color: $accent;
                }
            }
        }
        img {
            position: absolute;
            left: 50%;
            transform: translate(-50% , -50%);
            border-radius: 50%;
            border: 5px solid white;
        }
    }

    .posts-sec-outer {
        margin-top: 100px;
        padding-bottom: 100px;
        .container {
            max-width: 960px;
            margin: 0 auto;
            .post-wrap {
                background: rgba(255,255,255,0.6);
                border-radius: 10px;
                padding: 15px;
                margin-bottom: 15px;
                h3 {
                    span {
                        float: right;
                        font-size: 14px;
                        color: #6b6b6b;
                    }
                }
            }
        }
        .share {
            font-size: 12px;
            margin-top: 15px;
            color: #6b6b6b;
        }
    }
    #back-arrow {
        color: white;
        font-size: 30px;
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 99;
    }
}

@media only screen and (max-width: 767px) {
    .single-students {
        .author-details {
            position: relative;
            h2 {
                position: absolute;
                left: 50%;
                transform: translate(-50% , -220px);
                color: white;
                font-size: 30px;
                .name {
                    display: inline-block;
                }
                .level {
                    margin-left: 0px;
                }
                .achiev-count {
                    font-size: 18px;
                    padding-top: 0px;
                }
            }
        }
    }
  }